<html>
    <head>
        <title>kafka view</title>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
        <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.4.1.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
        <script>
            $(document).ready( function () {
                var testqueuetable = $('#testqueue').DataTable( {
                    ajax: {
                        url: "http://localhost:8080/kafka/pull/test",
                        dataSrc: "",
                        orderFixed: [0, "asc"]
                    }, 
                    columns: [
                        {data: "index"},
                        {data: "testval"}
                    ],
                    columnDefs: [
                        { width: "15%", targets: 0 }
                    ],
                    fixedColumns: true
                });

                setInterval(function() {
                    testqueuetable.ajax.reload(null, false);
                }, 2000);

            } );
        </script>
    </head>
    <body>
        <table id="testqueue" class="display stripe row-border">
            <thead>
                <tr>
                    <th>order</th>
                    <th>testval</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </body>
</html>
