<html>
    <head>
        <title>kafka view</title>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
        <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.4.1.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
        <script>

            $(document).ready( function () {
                var pageviewtable = $('#pageviewqueue').DataTable( {
                    ajax: {
                        url: "/kafka/pageviews/pageviews",
                        dataSrc: "",
                        orderFixed: [0, "asc"]
                    }, 
                    columns: [
                        {data: "index"},
                        {data: "timestamp"},
                        {data: "userId"},
                        {data: "pageId"}
                    ],
                    columnDefs: [
                        { width: "5%", targets: 0 }
                    ],
                    fixedColumns: true
                });

                setInterval(function() {
                    pageviewtable.ajax.reload(null, false);
                }, 1000);
            } );

            $(document).ready( function () {
                var userstable = $('#usersqueue').DataTable( {
                    ajax: {
                        url: "/kafka/users/users",
                        dataSrc: "",
                        orderFixed: [0, "asc"]
                    }, 
                    columns: [
                        {data: "index"},
                        {data: "registertime"},
                        {data: "userid"},
                        {data: "regionid"},
                        {data: "gender"}
                    ],
                    columnDefs: [
                        { width: "5%", targets: 0 }
                    ],
                    fixedColumns: true
                });

                setInterval(function() {
                    userstable.ajax.reload(null, false);
                }, 1000);
            } );

            $(document).ready( function () {
                var enrichedtable = $('#enrichedtopic').DataTable( {
                    ajax: {
                        url: "/kafka/enriched/pageviews_enriched",
                        dataSrc: "",
                        orderFixed: [0, "asc"]
                    }, 
                    columns: [
                        {data: "index"},
                        {data: "userId"},
                        {data: "pageId"},
                        {data: "regionId"},
                        {data: "gender"}
                    ],
                    columnDefs: [
                        { width: "5%", targets: 0 }
                    ],
                    fixedColumns: true
                });

                setInterval(function() {
                    enrichedtable.ajax.reload(null, false);
                }, 1000);
            } );

        </script>
    </head>
    <body>
        <table id="pageviewqueue" class="display stripe row-border">
            <thead>
                <tr>
                    <th>order</th>
                    <th>timestamp</th>
                    <th>userId</th>
                    <th>pageId</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

        <table id="usersqueue" class="display stripe row-border">
            <thead>
                <tr>
                    <th>order</th>
                    <th>registertime</th>
                    <th>userid</th>
                    <th>regionid</th>
                    <th>gender</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

        <table id="enrichedtopic" class="display stripe row-border">
            <thead>
                <tr>
                    <th>order</th>
                    <th>userId</th>
                    <th>pageId</th>
                    <th>regionId</th>
                    <th>gender</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </body>
</html>
